.git
node_modules
.next
out
build
*.log
.env*
.DS_Store
app/
components/
data/
lib/
public/
next.config.mjs
next-env.d.ts
package.json
package-lock.json
postcss.config.mjs
tailwind.config.ts
tsconfig.json
admin-config.json
